<div class="lu-col-sm-20p">
    <a class="lu-tile lu-tile--btn" href="{$rawObject->getUrl()}">
        <div class="lu-i-c-6x">
            <img src="{$rawObject->getIcon()}" alt="">
        </div>
        <div class="lu-tile__title">{$MGLANG->absoluteT('addonCA' , 'homeIcons' ,$rawObject->getTitle())}</div>
    </a>
</div>
